
/**
 * Whale Watch logo.
 */

.logo[data-logo="Whale Watch"] {
  width: 0;
}

.logo[data-logo="Whale Watch"] > * {
  background-image: url(images/logo.svg);
  margin: 0 0 0 0;
}

.logo[data-logo="Whale Watch"][data-color="black"] > * {
  background-image: url(images/logo-black.svg);
}

.logo[data-logo="Whale Watch"][data-color="white"] > * {
  background-image: url(images/logo-white.svg);
}
